nav {
    display: flex;
    width: 100%;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1.75rem;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

nav li {
    margin: 0;
}

nav a {
    text-decoration: none;
    white-space: nowrap;
}

@media (max-width: 768px) {
    nav ul {
        gap: 1rem;
        flex-direction: column;
        align-items: center;
    }
}