footer {
    background-color: #D9D9D9;
    padding: 4rem 0;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}

footer > div > img {
    width: 100px;
    height: auto;
}

footer section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

footer h2 {
    margin: 0;
    font-size: 1.2rem;
    color: #495E57;
    text-transform: uppercase;
    font-weight: bold;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

footer li {
    font-size: 0.9rem;
    color: #333;
}

footer a {
    text-decoration: none;
    color: #333;
}

@media (max-width: 768px) {
    footer {
        text-align: center;
    }
}